.invite-container {
    background-image: url('../../../assets/images/background_group.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding: 40px;
    text-align: center;
    color: #fff;
  }
  