<div class="modal-content" (click)="close()">
    <ng-container *ngIf="!loading; else loadingTpl">
        <h2>{{ movie.title }}</h2>
        <p>{{ movie.overview }}</p>
        <div class="infos">
            <div>
                <p><strong>Lançamento:</strong> {{ movie.release_date }}</p>
                <p><strong>Duração:</strong> {{ movie.runtime }} min</p>
                <p><strong>Nota:</strong> {{ movie.vote_average }}</p>
            </div>
            <img [src]="'https://image.tmdb.org/t/p/w500' + movie.backdrop_path" alt="Poster" class="poster">
        </div>
        <button (click)="close()">Fechar</button>
    </ng-container>
    <ng-template #loadingTpl>
        <p>Carregando...</p>
    </ng-template>
</div>